@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    min-height: 100vh;
    max-width: 100vw;
    margin: auto;
}

body *{
    font-family: 'Poppins', 'Open Sans', sans-serif;
    box-sizing: border-box;
    align-items: center;
}

header, footer {
    grid-area: var(--area);
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
} 

header{
    background-color: #1a45a9;
    padding: 1em 5em;
    border-bottom: 1px solid rgb(229, 231, 235);
}

footer{
    display: grid;
    background-color: white;
    border-top: 1px solid rgb(229, 231, 235);
}

main {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(7, auto);
    gap: 1em;
    background-color: rgb(243, 247, 252);
    overflow: hidden;
}

section{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    padding: 2em 0px;
}

h1{
    font-size: 3rem;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white
}

div > a > img {
    max-width: 100%;
}

button:hover {
    transform: scale(1.1);
}

div {
    text-align: center;
}

#login {
    display: flex;
    gap: 1rem;
}

#login > img {
    max-height: 2rem;
}

#logo {
    width: 6rem;
}

#hero {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    padding: auto 1rem;
}
    
#hero > div{
    padding: auto;
    align-items: center;
    text-align: center;
    width: 33%;
}

#pricing {
    background-color: white;
}

.slick-list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    margin: 0 -10px;
}

.slick-list .slick-slide{
    border-radius: 0.5em;
    width: 10rem;
    height: 20rem;
    margin: 1rem;
    background-color: white;
    padding: 1rem;
}

.slick-dots{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.bt-criar-lista {
    background-color: #71bd00;
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    border-color: transparent;
    border-radius: 0.25rem;
    padding: 1rem 5em;
    margin: 1rem;
}

.bt-tam-p{
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
}

.bt-cor-azul {
    color: white;
    font-weight: 600;
    background-color: rgb(32, 126, 185)
}

.bg-cinza{
    background-color: #fafcff;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "area1 area2 area3"
        "area1 area2 area4"
        "area1 area5 area5";
    gap: 20px;
    width: 100vw;
    padding: 4rem 6rem;
    align-items: normal;


}

.grid-container > div {
    align-items: flex-start;
}

.grid-item {
   padding: 2rem;
   color: white;
   border-radius: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.area1 { 
    grid-area: area1; 
    background-color: #1a45a9;
}
.area2 { 
    grid-area: area2; 
    background-color: #71bd23;
}
.area3 { 
    grid-area: area3; 
    color: black;
    background-color: #ffffff;
    border: solid 1px black;
}

.area3 a { 
    color: black;
}

.area4 { 
    grid-area: area4; 
    background-color: #7e98a1;
}
.area5 { 
    grid-area: area5; 
    background-color: #37454f;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.6rem;
    overflow: hidden;
}

input[type="text"],input[type="date"], input[type="time"], select{
    min-width: 25vw;
    max-width: 100vw;
    height: 2rem;
    border-radius: 5px;
    border: 0px;
    margin: 1rem;
    border: 1px solid black;
}

#endereco {
    width: 80vw;
    border-radius: 5px;
    border: 1px solid black;
    margin: 1rem;
    height: 5rem;
}

form > span{
    width: 70vw;
}

#div-area-1 {
    display: inline-flex;
    flex-direction: row;
    column-gap: 20px;
}

#div-area-1 > div {
    flex: 1;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 1px dotted black;
    border-radius: 5px;
    padding: 4rem 4rem;
    max-width: 200px;
    max-height: 250px;
}

#area-dados-1 {
    display: flex;
    flex-direction: column;
}

#opcoes-lista {
    display: inline-flex;
    flex-direction: row;
    font-size: 0.5rem;
}

#opcoes-lista > div:hover {
    transform: scale(1.1);
}

#opcoes-lista > div > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    height: 60px;
    width: 60px;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: black;
}

label {
    display: inline-grid;
}

#section-criar-lista > section > * {
    flex-wrap: nowrap;
    align-items: flex-start;
}

#section-criar-lista > section > form {
    min-width: 85vw;
}

.span-form {
    display: inline-flex;
    flex: 1;
    align-items: flex-start;
}

#templates {
    display: inline;
}

#templates > span {
    border: solid 1px black;
    width: 25vw;
    height: 30vw;
    border-radius: 5px;
    margin: .5rem;
}

.bt-criar-lista {
    background-color: #71bd00;
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    border-color: transparent;
    border-radius: 0.25rem;
    padding: 1rem 5em;
    margin: 1rem;
    cursor: pointer;
}

.bt-criar-lista:hover {
    transform: scale(1.1);
}

.bt-tam-p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
}
